* {
    margin:0;
    margin-top: 3px;
}

body {
    background-color: black;
    font-family: Courier, sans-serif;
    font-size: 18px;
}

#wrap {
    width: 100%;
    height: 100%; 
}

/*sees all of scene if you scroll*/
#scroll {
    z-index: 1;
    position: fixed;
    top: 50px;
    left: 300px;
    width: 800px;
    height: 600px;
    display: inline-block;
    overflow: scroll;
}

#scene{
    z-index: 1;
    position: fixed;
    top: 50px;
    left: 300px;
    width: 800px;
    height: 600px;
    display: inline-block;
}

#scene img {
    width: 800px;
    height: 600px;
}

#map {
    position: absolute;
    width: 250px;
    top: 50px;
    right: 50px;
    border:10px groove darkblue;
    border-top:10px ridge darkblue;
    border-left:10px ridge darkblue;
}

#map img {
    width: 250px;
    height: 220px;
}

#notes {
    position: absolute;
    background-image: url("../backgrounds/notepad.jpg");
    background-color: rgb(255, 255, 179);
    width: 135px;
    height: 580px;
    top: 50px;
    left: 100px;
    margin: auto;
    padding: 10px;
    border:8px groove yellow;
    border-top:8px ridge yellow;
    border-left:8px ridge yellow; 
}

.textbox {
    z-index: 2;
    font-size: 16px;
    color: azure;
    position: absolute;
    background-image: url("../backgrounds/textbox.jpg");
    opacity: 30%;
    width: 785px;
    height: 80px;
    top: 680px;
    left: 300px;
    border:8px groove grey;
    border-top:8px ridge grey;
    border-left:8px ridge brey;
}

p.typewriter {
    z-index: 3;
    position: fixed;
    top: 700px;
    left: 320px;
    width: 785px;
    height: 15px;
  color: azure; 
  font-size: 14px;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  white-space: nowrap;  /*Keeps the content on a single line */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  animation: type 5s steps(60, end); 
} 

p.typewriter:nth-child(2){
    animation: type2 7s steps(60, end);
    white-space: nowrap;
}

p.typewriter:nth-child(3){
  animation: type3 9s steps(60, end);
}

span{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  40%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes type3{
  0%{width: 0;}
  45%{width: 0;} 
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

#backpack {
    position: absolute;
    background-image: url("../backgrounds/grey_background.jpg");
    background-color: grey;
    width: 90px;
    height: 330px;
    top: 310px;
    right: 190px;
    padding: 10px 10px;
    border:8px groove darkgray;
    border-top:8px ridge darkgray;
    border-left:8px ridge darkgray;
}

area :hover img{
	cursor: pointer;
}

/*make arrows invisible first but when user hovers over arrow it will show up*/

#outside_house_arrow {
    background-image: url("../buttons/left_arrow.png");
    position: absolute;
    z-index: 4;
    width: 80px;
    height: 70px;
    left: 440px; 
    top: 450px; 
}

#hallway_foyer_arrow {
    background-image: url("../buttons/up_arrow.png");
    position: absolute;
    z-index: 4;
    width: 70px;
    height: 70px;
    left: 370px; 
    top: 400px; 
}

#hallway_kitchen_arrow {
    background-image: url("../buttons/left_arrow.png");
    position: absolute;
    z-index: 4;
    width: 80px;
    height: 70px;
    left: 580px; 
    top: 300px; 
}

#dining_room_arrow {
    background-image: url("../buttons/up_arrow.png");
    position: absolute;
    z-index: 4;
    width: 70px;
    height: 80px;
    left: 710px; 
    top: 380px;
}

#library_foyer_arrow {
    background-image: url("../buttons/left_arrow.png");
    position: absolute;
    z-index: 4;
    width: 80px;
    height: 70px;
    left: 450px; 
    top: 300px; 
}

#upstairs_foyer_arrow {
    background-image: url("../buttons/up_arrow.png");
    position: absolute;
    z-index: 4;
    width: 70px;
    height: 80px;
    right: 340px; 
    top: 450px; 
}

#to_piano_arrow {
    background-image: url("../buttons/left_arrow.png");
	position: absolute;
	z-index: 4;
	width: 80px;
	height: 70px;
	right: 400px; 
	top: 240px; 
}

#to_bathroom_arrow {
    background-image: url("../buttons/right_arrow.png");
    position: absolute;
    z-index: 4;
    width: 80px;
    height: 70px;
    right: 310px; 
    top: 240px; 
    }

#ghostgirl {
    position: absolute;
    z-index: 4;
    right: 57%; 
    top: 42%; 
}

#bedroom_arrow {
    background-image: url("../buttons/right_arrow.png");
	position: absolute;
	z-index: 4;
	width: 80px;
	height: 70px;
    right: 100px; 
    bottom: 100px; 
}

#basement_foyer_arrow {
    background-image: url("../buttons/right_arrow.png");
	position: absolute;
	z-index: 4;
	width: 80px;
	height: 70px;
    right: 150px; 
    top: 270px; 
}

.back {
   z-index: 3;
    position: absolute;
    bottom:160px;
    left:680px;
}

.back:hover img{
	cursor: pointer;
    display: block;
}

.error{
  text-align: center;
  font-family: 'Gilda Display', serif;
  font-size: 95px;
  font-style: italic;
  text-align: center;
  width: auto;
  height: auto;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -60px;
  right: 0;
  animation: noise 2s linear infinite;
  overflow: default;
}

.error:after{
  content: '404';
  font-family: 'Gilda Display', serif;
  font-size: 100px;
  font-style: italic;
  text-align: center;
  width: 150px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: blue;
  animation: noise-1 .2s linear infinite;
}

.error:before{
  content: '404';
  font-family: 'Gilda Display', serif;
  font-size: 100px;
  font-style: italic;
  text-align: center;
  width: 100px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: red;
  animation: noise-2 .2s linear infinite;
}

@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}

@keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: 6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: -2px;}
}

@keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; transform: scaleY(1);}  
  4.3% {opacity: 1; transform: scaleY(1.7);}
  43% {opacity: 1; transform: scaleX(1.5);}
}

@keyframes noise-3 {
  0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleY(1);}
  4.3% {opacity: 1; transform: scaleY(4);}
  43% {opacity: 1; transform: scaleX(10) rotate(60deg);}
}

.static{
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  top: -100px;
  opacity: 0.05;
  z-index: 230;
}

#message {
  width: 250px;
  margin: 0 auto;
  text-align: center;
   position: absolute;
   top: 86%;
   right: 2%;
}

h1 {
  margin-bottom: -10;
  font-size: 13px;
  color: white;
  font-weight: 100;
}

 h1 span {
  display:block;
  font-size: 13px;
  color: #989598;
 }
 
form p { position: relative; }
label { 
  position: absolute;
  left:-9999px;
  text-indent: -9999px;
}
input {
  width: 200px;
  padding: 8px 3px;
  margin-bottom: 5px;
  border: 1px solid #e5e5e5;
  border-bottom: 2px solid #ddd;
  background: #f2f2f2;
  color: #555;
}
